.tasksWrapper,
.tasksContainer {
  display: flex;
  align-items: center;
}

.imgWrapper {
  width: 30px;
}
.imgDelete {
  display: block;
  width: 100%;
}
.tasksWrapper {
  margin: 5px 0;
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
}
.tasksContainer {
  min-width: 200px;
}
.tasksWrapperTrue {
  text-decoration: line-through;
}
.checkbox {
  margin: 5px;
}
.overflowContainer {
  width: 300px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
