.imgWrapper {
  width: 30px;
}
.imgDelete {
  display: block;
  width: 100%;
}
.tasksWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  border: 2px solid;
}
.tasksContainer {
  // display: flex;

  // align-items: center;
  min-width: 200px;
}
.tasksWrapperTrue {
  text-decoration: line-through;
}
